<mat-toolbar color="primary">Controle de Cafes</mat-toolbar>

<table mat-table [dataSource]="cafes" class="mat-elevation-z8 demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id-column">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let cafe"> {{cafe.id}} </td>
    </ng-container>

    <!-- Sabor Column -->
    <ng-container matColumnDef="sabor-column">
      <th mat-header-cell *matHeaderCellDef> Sabor </th>
      <td mat-cell *matCellDef="let cafe"> {{cafe.sabor}} </td>
    </ng-container>

    <!-- Quantidade Column -->
    <ng-container matColumnDef="quantidade-column">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let cafe"> {{cafe.quantidade}} </td>
    </ng-container>

     <!-- Temperatura Column -->
     <ng-container matColumnDef="temperatura-column">
      <th mat-header-cell *matHeaderCellDef> Temperatura </th>
      <td mat-cell *matCellDef="let cafe"> {{cafe.temperatura}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
  <button mat-raised-button color="primary"
   routerLink="/cafes/new">Pedir Café</button>
